@import "~bootstrap/scss/functions";
@import "./helpers/variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&family=Roboto&display=swap');
html,
body {
    font-family: Roboto, "Times New Roman", "Noto Serif JP", sans-serif;
    color: #000;
    background-color: #fff;
    line-height: 1.8em;
}